.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  /* max-width: 90ch; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;

  background-size: 192px 108px;
  background-repeat: no-repeat;
  background-position: center;
}

a {
  color: white;
}
hr {
  min-width: 80%;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* max-height: 10vh; */
  /* min-width: 100ch; */
  max-width: 100%;
  /* padding-top: 2vh; */
  /* position: fixed; */
}

.App-header > header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-height: 10vh;
  max-height: 15vh;
  /* min-width: 100ch; */
  max-width: 100%;
  /* padding-top: 1vh; */

  /* position: fixed; */
}

.App-header > header > div {
  background-color: #282c34;
}

.Image-container {
  /* margin-top: 10vh; */
  /* min-height: 40vh; */
  max-height: 90vh;
  max-width: 100%;
  /* z-index: -1; */
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.App-footer {
  max-height: 10vh;
}

.Content {
  min-height: 80vh;
  /* background-color: #282c34; */
}

.App-link {
  color: #61dafb;
}

#Load {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: url(../../assets/mainTransparentBg.png); */
}
